# Learn more at https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug files
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Optional - Lockfiles (if using npm or yarn, but not both)
# Remove one of these if you are using only one package manager
package-lock.json
yarn.lock
